<div class="mob-menu-overlay" data-menu>
  <div class="mob-menu">
    <button
      class="mob-menu-close-btn"
      type="button"
      aria-label="close menu button"
      data-menu-close
    >
      <svg class="mob-menu-close-icon" aria-hidden="true">
        <use href="/img/icons.svg#icon-icon-close"></use>
      </svg>
    </button>

    <nav class="mob-menu-nav">
      <ul class="mob-menu-nav-list">
        <li class="mob-menu-nav-item">
          <a
            class="mob-menu-nav-link"
            href="#hiw"
            aria-label="go to section how it works"
          >
            How It Works
          </a>
        </li>

        <li class="mob-menu-nav-item">
          <a
            class="mob-menu-nav-link"
            href="#vegetables"
            aria-label="go to section vegetables"
          >
            Vegetables
          </a>
        </li>

        <li class="mob-menu-nav-item">
          <a
            class="mob-menu-nav-link"
            href="#reviews"
            aria-label="go to section reviews"
          >
            Reviews
          </a>
        </li>
      </ul>
    </nav>

    <button class="mob-menu-shop-btn" type="button" data-modal-open>
      Shop now
    </button>
  </div>
</div>
