<div class="main-baslet-wrapper is-open">
  <div class="container wrapper-img">
    <button class="close-btn" type="button">
      <svg class="close-icon" width="25" height="25">
        <use href="./img/icons.svg#icon-icon-close"></use>
      </svg>
    </button>
    <ul class="baslet-list-product">
      <li class="product">
        <p class="name-prod">Eggplant</p>
        <img
          class="modal-img"
          width="160"
          height="160"
          srcset="
            img/vegetables/eggplant.png    1x,
            img/vegetables/eggplant@2x.png 2x
          "
          src="img/vegetables/eggplant.png"
          alt="eggplant"
        />
        <div class="prise">
          <p class="massa-prod"><span class="prise-prod">60</span> usd / kg</p>
          <div class="plus-icon">
            <button class="prise-btn" type="submit">-</button>
            <span class="massa">0</span>
            <button class="prise-btn" type="submit">+</button>
          </div>
        </div>
      </li>

      <li class="product">
        <p class="name-prod">Leek</p>
        <img
          class="modal-img"
          width="160"
          height="160"
          srcset="img/vegetables/leek.png 1x, img/vegetables/leek@2x.png 2x"
          src="img/vegetables/leek.png"
          alt="leek"
        />
        <div class="prise">
          <p class="massa-prod"><span class="prise-prod">50</span> usd / kg</p>
          <div class="plus-icon">
            <button class="prise-btn" type="submit">-</button>
            <span class="massa">0</span>
            <button class="prise-btn" type="submit">+</button>
          </div>
        </div>
      </li>

      <li class="product">
        <p class="name-prod">Mushrooms</p>
        <img
          class="modal-img"
          width="160"
          height="160"
          srcset="
            img/vegetables/mushrooms.png    1x,
            img/vegetables/mushrooms@2x.png 2x
          "
          src="img/vegetables/mushrooms.png"
          alt="mushrooms"
        />
        <div class="prise">
          <p class="massa-prod"><span class="prise-prod">40</span> usd / kg</p>
          <div class="plus-icon">
            <button class="prise-btn" type="submit">-</button>
            <span class="massa">0</span>
            <button class="prise-btn" type="submit">+</button>
          </div>
        </div>
      </li>

      <li class="product">
        <p class="name-prod">Corn</p>
        <img
          class="modal-img"
          width="160"
          height="160"
          srcset="img/vegetables/corn.png 1x, img/vegetables/corn@2x.png 2x"
          src="img/vegetables/corn.png"
          alt="corn"
        />
        <div class="prise">
          <p class="massa-prod"><span class="prise-prod">60</span> usd / kg</p>
          <div class="plus-icon">
            <button class="prise-btn" type="submit">-</button>
            <span class="massa">0</span>
            <button class="prise-btn" type="submit">+</button>
          </div>
        </div>
      </li>

      <li class="product">
        <p class="name-prod">Sweet-potatoes</p>
        <img
          class="modal-img"
          width="160"
          height="160"
          srcset="
            img/vegetables/sweet-potatoes.png    1x,
            img/vegetables/sweet-potatoes@2x.png 2x
          "
          src="img/vegetables/sweet-potatoes.png"
          alt="sweet-potatoes"
        />
        <div class="prise">
          <p class="massa-prod"><span class="prise-prod">50</span> usd / kg</p>
          <div class="plus-icon">
            <button class="prise-btn" type="submit">-</button>
            <span class="massa">0</span>
            <button class="prise-btn" type="submit">+</button>
          </div>
        </div>
      </li>

      <li class="product">
        <p class="name-prod">Carrot</p>
        <img
          class="modal-img"
          width="160"
          height="160"
          srcset="img/vegetables/carrot.png 1x, img/vegetables/carrot@2x.png 2x"
          src="img/vegetables/carrot.png"
          alt="carrot"
        />

        <div class="prise">
          <p class="massa-prod"><span class="prise-prod">70</span> usd / kg</p>

          <div class="plus-icon">
            <button class="prise-btn" type="submit">-</button>
            <span class="massa">0</span>
            <button class="prise-btn" type="submit">+</button>
          </div>
        </div>
      </li>
    </ul>

    <div class="total-prise">
      <p class="word-total">Total:</p>
      <span class="all-price"> 0</span>
      <p class="word-total usd">Usd</p>

      <button class="buy-btn">Buy</button>
    </div>

    <p class="title-form">Fill out the form below and we will contact you !</p>
    <div class="form-container hidden">
      <form class="order-form">
        <label class="order-form-label" for="name">Name:</label>
        <input
          class="order-form-field order-form-input"
          type="text"
          id="name"
          name="name"
          placeholder="Dima"
          required
        />

        <label class="order-form-label" for="email">Email:</label>
        <input
          class="order-form-field order-form-input"
          type="email"
          id="email"
          name="email"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          placeholder="vegetables@gmail.com"
          required
        />

        <label class="order-form-label" for="tel">Phone Number:</label>
        <input
          class="order-form-field order-form-input"
          type="tel"
          id="tel"
          pattern="^\+?\d{0,3}[-.\s]?\(?\d{1,4}?\)?[-.\s]?\d{1,4}[-.\s]?\d{1,4}[-.\s]?\d{1,9}$"
          name="tel"
          placeholder="+38 (063) 00 00 000"
          required
        />

        <div class="cont-chekbox">
          <span class="title-checkbox">Select payment method:</span>
          <input type="radio" id="cash" name="payment" value="cash" required />
          <label class="checkbox-label" for="cash">Cash</label>
          <input type="radio" id="card" name="payment" value="card" required />
          <label class="checkbox-label" for="card">Card</label>
        </div>

        <label class="textarea-lebal" for="comments">Comments:</label>
        <textarea
          class="textarea-coment"
          id="comments"
          name="comments"
          rows="4"
          cols="50"
          placeholder="Your comment"
        ></textarea>

        <button class="checkbox-btn" type="submit">Order Now</button>
      </form>
    </div>
  </div>
</div>
