<div class="main-baslet-wrapper">
  <div class="wrapper-img">
    <ul class="baslet-list-product"></ul>
    <li class="product">
      <p>eggplant</p>

      <img
        srcset="
          /img/vegetables/eggplant.png    1x,
          /img/vegetables/eggplant@2x.png 2x
        "
        src="../img/vegetables/eggplant.png"
        alt="eggplant"
      />
      60 usd / kg

      <button>-</button>
      <span>0</span> кг
      <button>+</button>
    </li>

    <li class="product">
      <p>leek</p>

      <img
        srcset="/img/vegetables/leek.png 1x, /img/vegetables/leek@2x.png 2x"
        src="/img/vegetables/leek.png"
        alt="leek"
      />
      50 usd / kg

      <button>-</button>
      <span>0</span> кг
      <button>+</button>
    </li>

    <li class="product">
      <p>mushrooms</p>

      <img
        srcset="
          /img/vegetables/mushrooms.png    1x,
          /img/vegetables/mushrooms@2x.png 2x
        "
        src="/img/vegetables/mushrooms.png"
        alt="mushrooms"
      />
      40 usd / kg

      <button>-</button>
      <span>0</span> кг
      <button>+</button>
    </li>

    <li class="product">
      <p>corn</p>

      <img
        srcset="/img/vegetables/corn.png 1x, /img/vegetables/corn@2x.png 2x"
        src="/img/vegetables/corn.png"
        alt="corn"
      />
      60 usd / kg

      <button>-</button>
      <span>0</span> кг
      <button>+</button>
    </li>

    <li class="product">
      <p>sweet-potatoes</p>

      <img
        srcset="
          /img/vegetables/sweet-potatoes.png    1x,
          /img/vegetables/sweet-potatoes@2x.png 2x
        "
        src="/img/vegetables/sweet-potatoes.png"
        alt="sweet-potatoes"
      />
      50 usd / kg

      <button>-</button>
      <span>0</span> кг
      <button>+</button>
    </li>

    <li class="product">
      <p>carrot</p>

      <img
        srcset="/img/vegetables/carrot.png 1x, /img/vegetables/carrot@2x.png 2x"
        src="/img/vegetables/carrot.png"
        alt="carrot"
      />

      40 usd / kg

      <button>-</button>
      <span>0</span> кг
      <button>+</button>
    </li>
  </div>

  <div>Total: 0 Usd</div>

  <button>Buy</button>

  <div class="form-container hidden">
    <p>Fill out the form below and we will contact you !</p>

    <form>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />

      <label for="tel">Phone Number:</label>
      <input type="tel" id="tel" name="tel" required />

      <span>Select payment method:</span>
      <input type="radio" id="cash" name="payment" value="cash" required />
      <label for="cash">Cash</label>
      <input type="radio" id="card" name="payment" value="card" required />
      <label for="card">Card</label>

      <label for="comments">Comments:</label>
      <textarea id="comments" name="comments" rows="4" cols="50"></textarea>

      <button type="submit">Order Now</button>
    </form>
  </div>
</div>
