.footer {
  padding: 40px 0;
  background-color: #7a3145;
}
.footer-body {
  max-width: 296px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 40px;
}
.tablet-logo {
  display: none;
}
.footer-logo-list {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.mobile-logo,
.tablet-logo {
  fill: rgba(251, 251, 251, 1);
}
.footer-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  color: #fbfbfb;
}
.footer-text:not(:last-of-type) {
  margin-bottom: 8px;
}
.footer-abut-container {
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 80px;
}
.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer-menu-link {
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  /* 100% */
  letter-spacing: -0.01em;
  color: #fbfbfb;
}
.footer-contacts {
  font-style: normal;
  margin: 0;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer-contacts-link {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}
.footer-address {
  max-width: 179px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}
.footer-site-info {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}
.footer-legal-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.legal-links-list {
  display: flex;
  gap: 8px;
}
.footer-legal-link {
  font-family: 'Inter Tight', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  /* 116.667% */
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 32px 0;
  }
  .footer-position-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  .mobile-logo {
    display: none;
  }
  .tablet-logo {
    display: block;
  }
  .footer-body {
    max-width: 265px;
    display: inline-flex;
    gap: 25px;
    color: #fbfbfb;
    font-size: 16px;
    line-height: 20px;
    /* 125% */
    margin-bottom: 0;
  }
  .footer-abut-container {
    gap: 64px;
    margin-bottom: 0;
  }
  .footer-menu-list {
    gap: 25px;
  }
  .footer-menu-link {
    font-size: 32px;
    letter-spacing: -0.01em;
  }
  .footer-contacts {
    gap: 25px;
  }
  .footer-contacts-link {
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.01em;
  }
  .footer-address {
    max-width: 215px;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.01em;
  }
  .footer-site-info,
  .footer-legal-link {
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.01em;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 50px 0;
  }
  .footer-position-container {
    margin-bottom: 125px;
  }
  .footer-abut-container {
    flex-direction: row;
    column-gap: 121px;
  }
}


/* style about hover */
.footer-text-container {
  position: relative;
  perspective: 300px;
  transform-origin: center;

}
.footer-text {
transform: rotateX(0deg);
backface-visibility: hidden;
}
.footer-text-container:hover .footer-text {
  transform: rotateX(-180deg);
}
.footer-text,
.footer-text__back {
  transition: all 0.7s;
}

[class*="__back"] {
font-size: 26px;
font-weight: 700;
text-align: center;

color: #6a9330;

transform: rotateX(180deg);
backface-visibility: hidden;
position: absolute;
top: 0;
left: 0;


}
.footer-text-container:hover .footer-text__back {
  transform: rotateX(0deg);
}
.footer-text-mark {
  display: inline-block;
  position: relative;
  z-index: 3;
}
.footer-text-mark::before {
  content: "";
  width: 80%;
  height: 1px;
  background-color: #FBFBFB;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0px 0px 5px #ccf30a;
position: absolute;
bottom: 0;
left: 0;
z-index: 1;
}
/*   --menu */

.footer-menu-item {
  
  perspective: 200px;
  transform-origin: center;
  
}

.footer-menu-item:hover .footer-menu-link {
  display: block;
  color: #85c925;
transform: rotateY(65deg);
transition: all 0.7s;
}
.footer-address:active,
.footer-menu-item:active .footer-menu-link {
color: #1f5e11;
}


/* tel */
.footer-address:hover,
.footer-address:focus,
.footer-contacts-link:hover,
.footer-contacts-link:focus {
color: rgba(251, 251, 251, 0.50);

}