.header {
  min-width: 375px;
}

.header-container {
  padding: 20px 20px 48px 20px;
  display: flex;
  align-items: center;
  background-color: #576f35;
}

.link-mab-logo {
  padding: 8px 0;
}

.mob-logo {
  fill: #fbfbfb;
}

.burger-btn {
  cursor: pointer;
  stroke: #fbfbfb;
}

.not-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.not-mob {
  display: none;
}
@media screen and (min-width: 768px) {
  .header {
    min-width: 768px;
  }

  .header-container {
    padding: 32px;
    padding-bottom: 50px;
  }
  .not-desc {
    display: none;
  }

  .link-main-logo {
    padding: 11px 0;
  }

  .main-logo {
    fill: #fbfbfb;
  }

  .not-mob {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .header-nav,
  .header-btn {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    background: transparent;
    padding: 20px 0;
    z-index: 100;
  }

  .header-container {
    background: transparent;

    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    margin-right: 20px;
  }

  .headrer-list {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .link-main-logo {
    padding: 17px 0;
    margin-right: auto;
  }

  .header-list-link {
    padding: 12px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #fbfbfb;
  }

  .heared-list-item {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px 0;
    background-color: transparent;
  }

  .header-btn {
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 30px;
    width: 157px;
    height: 52px;
    background-color: #7a3145;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.12;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-btn:hover,
  .header-btn:focus {
    background-color: #622133;
  }
}
