/* common */

.main-baslet-wrapper {
  background-color: rgba(87, 111, 53, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.main-baslet-wrapper:not(.is-open) .overley {
  transform: translate(-50%, -100%);
}

.wrapper-img {
  padding: 72px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #7a3145;
  max-width: 100%;
  max-height: 100%;
  overflow: scroll;
  border-radius: 10px;
}

.baslet-list-product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  column-gap: 20px;
}

.close-icon {
  stroke: #fbfbfb;
  transition: transform 250ms ease-in;
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
}

.close-btn:hover .close-icon {
  transform: rotate(90deg);
}

.product {
  min-width: 240px;
  height: 240px;
  padding: 20px 20px;
  background-color: #fbfbfb;
  border-radius: 40px;
}

.name-prod {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #7a3145;
  margin-bottom: 5px;
}

.modal-img {
  margin: 0 auto 15px;
}

.prise {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prise-prod {
  font-size: 16px;
  font-weight: 400;
  margin-right: 5px;
}

.massa-prod {
  margin-left: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}

.plus-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #fff;
  stroke: #fff;
}
.prise-btn {
  border-radius: 4px;
  background-color: #576f35;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  fill: #fbfbfb;
}

.massa {
  margin: 0 10px;
}

.plus-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-prise {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.word-total {
  margin-right: 15px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.all-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #141414;
  background: #fbfbfb;
  width: 70px;
  border-radius: 4px;
  margin-right: 5px;
}

.usd {
  font-size: 20px;
  color: #fbfbfb;
}

.buy-btn {
  border-radius: 30px;

  width: 100px;
  height: 35px;
  background-color: #576f35;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

/*     FORM  */

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-form {
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  text-align: center;
  margin: 30px 0;
}

.form-title {
  display: block;
}

.order-form-d {
  padding: 40px 20px;
  max-width: 335px;
  background: #fbfbfb;
  border-radius: 30px;
}

.order-form-label-d {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #141414;

  position: absolute;
  transform: translate(17px, -47px);
  transition: transform 500ms ease-in, font-size 250ms ease-in, color 250ms ease-in;
}

.label-tel {
  display: flex;
  align-items: center;
}

.order-form-field-d:active+.order-form-label-d,
.order-form-field-d:focus+.order-form-label-d,
.order-form-field-d:not(:placeholder-shown) + .order-form-label-d {
  transform: translate(250px, -79px);
  font-size: 12px;
  color: #7a3145;
}

.order-form-field-d:active+.label-tel,
.order-form-field-d:focus+.label-tel,
.order-form-field-d:not(:placeholder-shown)+.label-tel {
  transform: translate(203px, -79px);
}

.order-form-field-d {
  border: 1px solid rgba(20, 20, 20, 0.2);
  width: 100%;
  padding: 14px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  background-color: #fbfbfb;
  outline: transparent;
  transition: border-color 250ms ease-in;
}

.order-form-field-d:hover,
.order-form-field-d:focus {
  border-color: #7a3145;
}

.order-form-field-d:not(:placeholder-shown):valid {
  border-color: #3cbc81;
}

.order-form-field-d:not(:placeholder-shown):invalid {
  border-color: #e74a3b;
}

.order-form-field-d::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: transparent;
}

.order-form-input-d {
  border-radius: 30px;
  height: 46px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.cont-chekbox {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.title-checkbox {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #141414;
  margin-right: 20px;
}

.checkbox-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #141414;
}

.textarea-lebal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #141414;

  position: absolute;
  transform: translate(-280px, 20px);
  transition: transform 500ms ease-in, font-size 250ms ease-in, color 250ms ease-in;
}

.textarea-coment {
  margin-top: 5px;
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 30px;
  padding: 14px;
  width: 295px;
  height: 91px;
  outline: none;
  margin-bottom: 10px;
  background-color: transparent;
  resize: none;
  transition: border-color 250ms ease-in;
}

.textarea-coment:active+.textarea-lebal,
.textarea-coment:focus+.textarea-lebal,
.textarea-coment:not(:placeholder-shown)+.textarea-lebal {
  transform: translate(-70px, -12px);
  font-size: 12px;
  color: #7a3145;
}

.textarea-coment:hover,
.textarea-coment:focus {
  border-color: #7a3145;
}

.textarea-coment::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: transparent;
}

.checkbox-btn {
  border-radius: 30px;
  width: 295px;
  height: 50px;
  background-color: #576f35;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  box-shadow: 3px 3px 2px rgba(20, 20, 20, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 250ms ease-in;
}

.checkbox-btn:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .close-btn {
    right: 55px;
  }

  .wrapper-img {
    min-width: 768px;
  }

  .name-prod {
    font-size: 20px;
  }

  .prise-prod {
    font-size: 20px;
    margin-right: 3px;
  }

  .massa-prod {
    margin-left: 0;
    margin-right: 5px;
    font-size: 16px;
  }

  .prise-btn {
    width: 27px;
    height: 27px;
  }

  .all-price {
    height: 25px;
  }

  .order-form-d {
    padding: 100px 25px;
    max-width: 500px;
  }

  .order-form-field-d:active+.order-form-label-d,
  .order-form-field-d:focus+.order-form-label-d,
  .order-form-field-d:not(:placeholder-shown)+.order-form-label-d {
    transform: translate(400px, -79px);
  }
  
  .order-form-field-d:active+.label-tel,
  .order-form-field-d:focus+.label-tel,
  .order-form-field-d:not(:placeholder-shown)+.label-tel {
    transform: translate(357px, -79px);
  }

  .cont-chekbox {
    gap: 10px;
    margin-bottom: 25px;
  }

  .textarea-coment {
    width: 100%;
    height: 120px;
  }

  .textarea-lebal {
    transform: translate(-432px, 20px);
    }

  .textarea-coment:active+.textarea-lebal,
  .textarea-coment:focus+.textarea-lebal,
  .textarea-coment:not(:placeholder-shown)+.textarea-lebal {
    transform: translate(-70px, -12px);
  }

  .checkbox-btn {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper-img {
    min-width: 1280px;
    padding: 72px 144px;
  }

  .baslet-list-product {
    gap: 25px;
    column-gap: 15px;
  }
  .order-form-d {
    padding: 50px 20px 40px 20px;
  }

  .product {
    max-width: 240px;
    width: calc((100% - 30px) / 3);
  }

  .total-prise {
    margin-top: 25px;
  }

  .title-form {
    font-size: 40px;
  }

  .order-form-label-d {
    margin-left: 15px;
    font-size: 18px;
    transform: translate(10px, -45px);
  }

  .order-form-input-d {
    margin-bottom: 10px;
  }

  .order-form-field-d:active+.order-form-label-d,
  .order-form-field-d:focus+.order-form-label-d,
  .order-form-field-d:not(:placeholder-shown)+.order-form-label-d {
    transform: translate(400px, -72px);
  }
  
  .order-form-field-d:active+.label-tel,
  .order-form-field-d:focus+.label-tel,
  .order-form-field-d:not(:placeholder-shown)+.label-tel {
    transform: translate(357px, -72px);
  }

  .textarea-lebal {
    margin-left: 15px;
    font-size: 18px;
    transform: translate(-450px, 17px);
  }

  .textarea-coment:active+.textarea-lebal,
  .textarea-coment:focus+.textarea-lebal,
  .textarea-coment:not(:placeholder-shown)+.textarea-lebal {
    transform: translate(-85px, -12px);
  }

  .title-checkbox {
    margin-left: 15px;
  }

  .textarea-coment {
    margin-bottom: 20px;
  }
}
